<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Posts</title>
    <!-- Latest compiled and minified CSS -->


    <link rel="stylesheet" href="{% static "css/blog.css"%}">

  </head>
  <body>
    {% block content %}
          {% for post in posts %}
              <div class="post">
                  <div class="date">
                      <p>published: {{ post.published_date }}</p>
                  </div>
                  <h2><a href="{% url "post_detail" pk=post.pk %}">{{ post.title }}</a></h2>
                  
                  <p>{{ post.text|linebreaksbr }}</p>
              </div>
          {% endfor %}
          {% endblock %}
      </body>
</html>
